.table-container{
  overflow-x: auto;
}

table {
  width: 1200px;
}

.group-name {
  display: inline-block;
  position: relative;
  padding: 0 5px 0 5px;
}
/* 
.mat-elevation-z8 {
  overflow-x: auto;
} */

.table-field{
  width: auto;
}

.mat-table.mat-table {
  min-width: 450px;
}
