<!-- <nav mat-tab-nav-bar backgroundColor="primary">
  <a mat-tab-link *ngFor="let item of items; let i = index" (click)="activeLink = item.label"
    [active]="activeLink == item.label" [routerLink]="item.routerLink">
    <fa-icon class="tab-icon" [icon]="item.icon"></fa-icon>
    {{item.label}}
  </a>
</nav> -->




<mat-form-field>
  <mat-select class="board-control" [formControl]="boardControl" (selectionChange)="changeBoard()" >
    <mat-option *ngFor="let table of tables; let index = index" [value]="tables[index]._id">
      {{table.board_name}}
    </mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="addNewBoard()"><mat-icon class="add-icon">add</mat-icon>New Board</button>
<h2>{{ currentBoardName }} </h2>
<router-outlet color="primary"></router-outlet>