<header>
  <a class="logo" [routerLink]="['/']">Productivv</a>
  <a *ngIf="mobileQuery.matches" class="nav-toggle" [ngClass]="{ active: navOpen }" (click)="toggleNav()"></a>
  <nav class="nav-collapse" *ngIf="navOpen">
    <ul [@openClose]>
      <li class="menu-item" [routerLink]="['/login']" (click)="toggleNav()"><a>Login</a></li>
      <li class="menu-item" [routerLink]="['/register']" (click)="toggleNav()"><a>Register</a></li>
      <li class="menu-item active" [routerLink]="['/']" (click)="toggleNav()"><a>Home</a></li>
      <li class="menu-item" [routerLink]="['/boards']" (click)="toggleNav()"><a>Boards</a></li>
      <li class="menu-item" (click)="toggleNav()"><a href="http://www.google.com" target="_blank">Google</a></li>
    </ul>
  </nav>
</header>